.next {
    width: 50%;
    margin: 0 auto;
}
.form {
    width: 60%;
    margin: 3em auto;
}

.toResult {
    width: 50%;
}

.list_title {
    font-size: 2em;
    line-height: 0.5em;
}

.to_home {
    width: 8em;
}